
.mainList {
  flex: 1;
  background: var(--brown-100);
  padding: 3.75rem 0 2.875rem;
}

.itemList {
  height: 100%;
  
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 2rem 13rem ;
}

.itemList li {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  align-items: center;
  color: var(--blue-900);
}

.itemList li input[type="checkbox"] {
  transform: scale(1.5);
}

.itemList button {
  line-height: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--blue-200);
}

.checked {
  text-decoration: line-through;
}

.orderBy{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.orderBy button {
  border-radius: 6px;
  border: 0;
  background: var(--orange-600);
  padding: 0.5rem 1rem;
  color: var(--white);
}

.orderBy select {
  background: var(--blue-200);
  color: var(--white);
  border-radius: 6px;
  padding: 0 1rem;
}